{% extends "siteusers/base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-4">
            <div class="card">
                <a href="{% static 'SimpleStory_v1.0.zip' %}" download>
                    <img class="card-img-top" src="{% static 'img/download.png' %}">
                    <h3 class="card-text">Download</h3>
                    <br>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}